.button-add {
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.03);
    color: #FFF;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-align: start;
    display: block;
    width: 100%;
}

.button-add:hover {
    background: rgba(255, 255, 255, 0.10);
}

.button-edit {
}

.button-edit:hover {
}