.app {
    display: flex;
    padding: 30px;
}

.dropdown-folder {
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.03);
    color: #888888;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-align: start;
    display: block;
    width: 100%;
}